<!-- views/posts/partials/comment-show.ejs -->

<%/*
    post
    comment
    commentForm
    commentError
*/%>

<div class="comment_list">
    <% if(comment.isDeleted){ %>
        <div>(Deleted Comment)</div>
    <%} else{%>
    <div class="comment_name"><%= comment.author.username %></div>
    <div id="comment-<%= comment._id %>" class="<%= (commentError._id == comment._id)?'comment-edit-enabled':'' %> <%= (commentError.parentComment == comment._id)?'comment-reply-enabled':'' %>">
        <div class="comment_info">
            <div><%= comment.text %></div>
            <small>
                (Created:<span data-date-time="<%= comment.createdAt %>"></span>)
                <% if(comment.updatedAt){ %>
                    | Updated:<span data-date-time="<%= comment.updatedAt %>"></span>
                <% } %>
            </small>
            <% if(isAuthenticated){ %>
                <small class="d-block">
                    <a href="javascript:void(0)" onclick="$('.comment-reply-enabled').removeClass('comment-reply-enabled'); $('.comment-edit-enabled').removeClass('comment-edit-enabled'); $('#comment-<%= comment._id %>').addClass('comment-reply-enabled')">reply</a>
                    <% if(comment.author && currentUser.id == comment.author.id){ %>
                        |
                        <a href="javascript:void(0)" onclick="$('.comment-reply-enabled').removeClass('comment-reply-enabled'); $('.comment-edit-enabled').removeClass('comment-edit-enabled'); $('#comment-<%= comment._id %>').addClass('comment-edit-enabled')">Edit</a>
                        | 
                        <form action="/comments/<%= comment._id %>?postId=<%= post._id %>&_method=delete<%= getPostQueryString(true) %>" method="post" class="d-inline">
                            <a href="javascript:void(0)" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">Delete</a>
                        </form>
                    <% } %>
                </small>
            <% } %>
        </div>
        <div class="comment-edit">
            <%- include('comment-form', {
                actionUrl: '/comments/' + comment._id + '?postId=' + post._id + '&_method=put',
                comment: comment,
                commentForm: commentForm,
                commentError: commentError,
                parentComment: null
            }); %>
        </div>
        <div class="comment-reply">
            <%- include('comment-form', {
                actionUrl: '/comments/?postId=' + post._id,
                comment: {},
                commentForm: commentForm,
                commentError: commentError,
                parentComment: comment._id,
                parentComment: comment._id
            }); %>
        </div>
    </div>
    <% } %>

</div>
<div class="ml-3">
    <% if(comment.childComments){ %>
        <% comment.childComments.forEach(function(childComments){ %>
            <%- include('comment-show', {
                post:post,
                comment: childComments,
                commentForm: commentForm,
                commentError: commentError
            }); %>
        <% }) %>
    <% } %>
</div>